<phpunit
    colors="true">
    <testsuite name="tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="build/logs/html" lowUpperBound="50" highLowerBound="80"/>
    </logging>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
